# ===============================
# API
# ===============================

APP_NAME=EcoVision API
APP_VERSION=1.0.0
APP_ENV=development

# ===============================
# SERVER
# ===============================

HOST=0.0.0.0
PORT=8000

# ===============================
# DATABASE
# ===============================

DB_HOST=localhost
DB_PORT=5432
DB_NAME=ecovision
DB_USER=postgres
DB_PASSWORD=postgres

# ===============================
# GEMINI
# ===============================

GEMINI_API_KEY=YOUR_API_KEY

# ===============================
# YOLO
# ===============================

YOLO_MODEL=yolov8n.pt

# ===============================
# LOGGING
# ===============================

LOG_LEVEL=INFO